body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("E:\school stuff\2023 Web Design\banner.avif");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 0;
}

nav {
    background-color: #333333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
